.t {
  position: absolute;
  width: 24.02px;
  height: 14px;
  left: 440px;
  top: 69px;
  margin: 2px;
}

.t-icon {
  position: absolute;
  width: 10.01px;
  height: 10px;
  left: 442px;
  top: 71px;
  margin: 2px;
}

